################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/newWorm/bin/Debug
/newWorm/obj/Debug
/newWorm/obj/Debug
/WormClient
/TCPserverWinForms/obj/Debug
/TCPserverWinForms/obj/Debug
/TCPserverWinForms/Properties
/TCPserverWinForms/bin/Debug
/TCPserver/bin/Debug
/TCPserver/obj/Debug
