################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/newWorm/bin/Debug
/newWorm/obj/Debug
/newWorm/obj/Debug
/WormClient
